{
  "presets": ["@vue/babel-preset-app"],
  "plugins": ["@vue/babel-plugin-jsx",    [
    "import",
    {
      "libraryName": "view-ui-plus",
      "libraryDirectory": "src/components"
    },
    "view-ui-plus"
  ]]
}
